body {
  width: 360px;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 24px 20px;
}

.cover{
  background-position: center; 
  background-size: contain;
  background-repeat: repeat;

}

.content-section{
  box-sizing: border-box;
  width: 360px;
  margin: auto;
}

.header__logo{
  width: 78.45px;
  height: 15.43px;
}

.header__menu{
  margin-left: auto;
  margin-bottom: 12px;
}

.header__menu-list{
  list-style: none;
}

.header__menu-item{
 margin-left: auto;
}

.header__menu-item_active{
  text-decoration-line: none;
}

.header__menu-link{
  color: #F5F5F5;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

/*фото */

.cover__title{
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  color: #FFFFFF;
}

.accent-span {
position: absolute;
width: 52px;
height: 72px;
left: 10px;
top: 132px;
font-family: 'EB Garamond';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 100%;
color: #FFFFFF;

}

.text-center{
  position: absolute;
  width: 226px;
  height: 72px;
  left: 57px;
  top: 204px;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;

}

.text-right{
  position: absolute;
  width: 161px;
  height: 72px;
  left: 165px;
  top: 276px;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}

/* Публикая и дата */

.intro__heading{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  width: 323px;
  height: 497px;
  left: 17px;
  top: 369px;

}

.intro__title{
  margin: auto;
  width: 203px;
  height: 38px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #CCCCCC;
 
}

.intro__date{
margin: auto;
width: 110px;
height: 100px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
text-align: right;
color: #CCCCCC;
}

.intro__main-text{
  margin: auto;
  width: 320px;
  height: 281px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #F5F5F5;
}

/* фоны */

.content-section_theme_dark{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;
position: absolute;
width: 360px;
height: 1100px;
left: 20px;
top: 100px;
 background-color: #1e1e1e; 
color: #CCCCCC;
}

.content-section_theme_bright{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
  gap: 32px;
  position: absolute;
  width: 360px;
  height: 1100px;
  left: 0px;
  top: 881px;
  color: #CCCCCC;
  background-color: yellow;
}

.dark{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 320px;
  height: 1700px;
  left: 20px;
  top: 2100px;
  color: #CCCCCC;
  background-color: dark;
}

.dark-title{
width: 320px;
height: 135px;
order: 0;
flex-grow: 0;
}

.reasons{
  width: 320px;
  height: 63px;
}

.content-section__subtitle{
  position: absolute;
  width: 320px;
  height: 31.5px;
  left: 20px;
  top: 40px;
}

.content-section__text-right{
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
  text-align: right;
  color: #131313;
}

.content-section__accent-span{
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
  color: #131313;
}

.content-section__introduction{
  width: 320px;
  height: 297px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #131313;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content-section__list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 320px;
  height: 865px;
  flex: none;
  order: 2;
  flex-grow: 0;
  
}

.content-section__list-item{
  color: #131313;
}

.content-section-dark-right {
  position: absolute;
  width: 320px;
  height: 32px;
  left: 0px;
  top: 0px;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
  text-align: right;
  color: #F5F5F5;
} 

.content-section-dark-left {
  position: absolute;
  width: 320px;
  height: 32px;
  left: 0px;
  top: 32px;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
  color: #F5F5F5;
  }

  .content-section__dark-subtitle{  
width: 320px;
height: 135px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 135%;
color: #F5F5F5;
flex: none;
order: 1;
flex-grow: 0;

  }

  .text-title-black{ 
    position: absolute;
    width: 500px;
    height: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    color: #F5F5F5;
    flex: none;
    order: 1;
    flex-grow: 0;
    }

.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 8px;
  width: 319px;
  height: 600px;
  background: #343434;
  border-radius: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
  
}

.card__author{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 163px;
height: 128px;
flex: none;
order: 0;
flex-grow: 0;
}

.card__author-photo{
width: 10rem;
height: 10rem;
border-radius: 50%;
object-fit: cover;
}

.card__author-name{
width: 163px;
height: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 135%;
color: #F5F5F5;
flex: none;
order: 1;
flex-grow: 0;
}

.card__title{
  width: 300px;
  height: 29px;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
  color: #F5F5F5;
}

.card__title-bright{
  width: 279px;
  height: 59px;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
  color: #131313;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.card__text{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 279px;
height: 319px;
flex: none;
order: 1;
flex-grow: 0;
}

.card__text-bunin{
  width: 279px;
  height: 346px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #F5F5F5;
  flex: none;
  order: 1;
  flex-grow: 0;
  
}

.card__text-bright{
width: 279px;
height: 261px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #131313;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.card_theme_bright{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 8px;
  width: 319px;
  height: 368px;
  background: #FEE42A;
  border-radius: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  
}

.footer{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px;
position: absolute;
width: 360px;
height: -100px;
left: 0px;
top: 1900px;
border-top: 1px solid #83792b;
}

.text {
  font-size: 16px;
}

.footer-link-vk{
  width: 19px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #F5F5F5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-link-yt{
width: 38px;
height: 18px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
color: #F5F5F5;
flex: none;
order: 1;
flex-grow: 0;

}

.footer__menu-link{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  margin: 0 auto;
  width: 73px;
  height: 18px;
  order: 1;
  flex-grow: 0;
  text-align: right;
  
}





